@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
  }

body{
    background-color: #1e1e1e;
}

.content{
    display: flex;
}

aside{
    width: 347px;
    height: auto;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
    background-color: #343434;
    border-radius: 45px;
}

.foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    gap: 15px;
}

.foto h2{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 15px;
    color: #fff;

}

.foto img{
    width: 250px;
    height: 250px;
    border-radius: 45px;
}

.informacao{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 50px;
}
.informacao-email{
    color: #fff;
    font-size: 0.9rem;
    padding: 15px;
}

.informacao-telefone{
    color: #fff;
    font-size: 0.9rem;
    padding: 15px;
}

.informacao-aniversario{
    color: #fff;
    font-size: 0.9rem;
    padding: 15px;
}

main{
    background-color: #343434;
    width: 920px;
    height: auto;
    margin: 50px 50px 50px 0px; 
    border-radius: 45px;
}

header{
    display: flex;
    justify-content: end;
}
ul{
    width: 600px;
    background-color: #3f3f3f;
    padding: 15px;
    border-radius: 0px 45px 0px 45px;
    display: flex;
    gap: 30px;
    justify-content: center;

}
li a{
    color: #fff;
}

a:hover{
    color: #000;
    cursor: pointer;
}
.contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 30px;
    gap: 10px;
}
.titulo-contato{
    color: #fff;
}
.formulario-contato{
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.primeiro-formulario{
    justify-content: space-between;
    display: flex;
    gap: 10px;
}
.segundo-formulario{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input{
    height: 40px;
    font-size: 1.1rem;
    padding: 10px;
}

.botao{
    width: 175px;
    height: 60px;
    background-color: #fff;
    color: #2e353d;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: 2px solid #fff;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
}

.botao:hover{
    background-color: #353e47;
    color: #ffffff;
    cursor: pointer;
}

#user-message-input{
    width: 100%;
    height: 200px;
    resize: nome;
}

#user-message{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    resize: nome;
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    color: #2e353d;
    padding: 10px;
    border: nome;
    outline: nome;
}


footer{
    background-color: #3f3f3f;
    width: 100%;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: #fff;
}

@media (max-width: 1130px) {
    ul{
    width: 500px;
    }
}

@media (max-width: 1030px) {
    ul{
    width: 100%;
    border-radius: 45px 45px 0px 0px;
    }
    header{
    border-radius: 45px 45px 0px 0px;
    background-color: #3f3f3f;
    justify-content: center;
}
}

@media (max-width: 957px) {
    li{
        text-align: center;
}
}

@media (max-width: 900px) {
    aside{
        width: 300px; 
    }
}
@media (max-width: 768px) {
    aside{
        width: 250px;
        margin: 25px;
        justify-content: center;
    }
    .foto img {
        width: 150px;
        height: 150px;
        border-radius: 15px;
    }
    .foto h2{
        font-size: 1.2rem;
        width: 200px;
    }
    .informacao{
        width: 150px;
    }
    .informacao-email {
        font-size: 0.5rem;
        padding: 0px;
    }
    .informacao-telefone {
        font-size: 0.5rem;
        padding: 0px;
    }
    .informacao-aniversario {
        font-size: 0.5rem;
        padding: 0px;
    }
    main{
    margin: 25px 25px 25px 0px;
    }
}

@media (max-width: 425px) {
    .content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul{
        gap: 10px;
    }
    main{
        width: 370px;
        margin: 0px 0px 20px 0px;
    }
    .foto img {
    width: 200px;
    height: 200px;
    }
}